# Created by venv; see https://docs.python.org/3/library/venv.html
bin/*
lib/*
data/*
!data/.gitkeep
pyvenv.cfg

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spotlight files
.Spotlight-V100

# Trash
.Trashes

# macOS Finder info
Icon?